<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <!-- Inclure ici vos liens vers les feuilles de style CSS ou les bibliothèques JavaScript -->
</head>
<body>
    <div class="container">
        <h1>Welcome, {{ current_user.username }}</h1>
        <!-- Bouton de déconnexion -->
        <form action="/logout" method="post">
            <button type="submit">Logout</button>
        </form>
    </div>
</body>
</html>
